.cart-list-section {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.cart-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2.5rem;
  align-items: center;
  justify-content: left;
}

.cart-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
}

@media (min-width: 480px) {
  .cart-list {
    gap: 4rem;
  }
}

@media (min-width: 768px) {
  .cart-list-section {
    max-width: 600px;
  }
}

