.form {
  display: flex;
  margin: auto;
  width: 100%;
}

.form input {
  flex: 1;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color-primary-dark);
}

.form button {
  border: none;
  border-radius: var(--size-2);
  padding: var(--size-1);
  width: 2.5rem;
  margin-left: 1rem;
  background-color: var(--color-primary-button);
}


@media (min-width: 768px) {
  .form {
    width: auto;
  }

  .form input{
    width: 300px;
  }
}
